body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.payment {
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

div.payment:hover {
  background: #eeeeee;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.paymentString {
  height: 1.2em;
  padding: 1em 0.5em;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.paymentDelete {
  border-radius: 5px;
  padding: 0.3em 0.7em;
  margin: auto 0.5em;
  height: 1.2em;
  background: firebrick;
  color: white;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.paymentDelete:hover {
  background: whitesmoke;
  color: firebrick;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

button.delete:hover {
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
}

.editorContainer {
  text-align: left;
  margin: 1em;
}

label {
  display: block;
  text-align: right;
}

input {
  font: 1em sans-serif;
  width: 12em;
  box-sizing: border-box;
}

.paymentList {
  text-align: left;
  margin: 1em;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.paymentList .even {
  background: #aaaaaa;
}

.paymentList .odd {
  background: white;
}

.columnBottom {
  clear: both;
}


.App-header {
  height: 50px;
}

